body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  line-height: 100%;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.line-height-1-5em {
  line-height: 1.5em;
}

.nav-desktop {
  order: -1;
  padding-bottom: 0.3em;
  padding-top: .8em;
  background: #03A15F;
  height: 1em;
  padding-left: 6em;
  text-align: left;
  font-size: 1.5em;
}

.nav-mobile {
  order: -1;
  padding-bottom: 0em;
  padding-top: 0em;
  background: #03A15F;
  height: 2em;
  padding-left: 6em;
  text-align: left;
  font-size: 1.5em;
}

.menu:hover .mobile-nav-tree {
  display: block;
}

.mobile-nav-tree:hover {
  display: block;
}

.mobile-nav-tree {
  display: none;
  position: relative;
  z-index: 99;
  list-style-type: none;
  line-height: 2.5em;
  background: #03A15F;
  width: 7em;
  text-align: left;
  padding: 0.5em;
  margin: 0;
  cursor: pointer;
}

.menu {
  padding: 0.25em;
  float: left;
  padding-left: 1em;
}

.menu li:hover {
  background-color: #048751;
  cursor: pointer;
}

.menu li:active {
  background-color: #006139;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.menu:hover .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.menu:hover .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.menu:hover .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.footer {
  padding: 1em;
  background: #2C2D54;
  text-align: center;
  color: white;
  box-shadow: 0px -10px 10px #2C2D54;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.main {
  padding: 1em;
  background-image: url(../images/Background.jpg); /*#C0E07F;*/
  background-size: 100% auto;
  text-align: center;
}

.aside {
  padding: 1em;
  text-align: center;
  background: :	#C2D233;
}

nav span {
  padding: 0.3em;
}

nav span:hover{
  background-color: #048751;
  cursor: pointer;
}

nav span:active {
  background-color: #006139;
}

.home-button {
 color: #79C7D5;
 box-shadow: 0px -3px 0px 0px #79C7D5, 0px -5px 0px #79C7D5;
}

.plan-your-visit-button {
  color: #2AAB9D;
  box-shadow: 0px -3px 0px 0px #2AAB9D, 0px -5px 0px #2AAB9D;
}

.bookings-button {
 color: #AFCF3E;
 box-shadow: 0px -3px 0px 0px #AFCF3E, 0px -5px 0px #AFCF3E;
}

.events-button {
 color: #F2BA3F;
 box-shadow: 0px -3px 0px 0px #F2BA3F, 0px -5px 0px #F2BA3F
}

.animals-button {
 color: #EDD722;
 box-shadow: 0px -3px 0px 0px #EDD722, 0px -5px 0px #EDD722;
}

.shop-button {
 color: #D27937;
 box-shadow: 0px -3px 0px 0px #D27937, 0px -5px 0px #D27937;
}

.opening-times {
  position: relative;
  width: 85%;
  margin-left: 50%;
  transform: translate(-50%);
  background-color: #fef2c9;
  padding: 15px;
  line-height: 1.5em;
}

.opening-times h4 {
  font-size: 1.5em;
  line-height: 0.5em;
}

.section-header {
  text-align: left;
  box-shadow: 0px 3px #006139, 10px 0px 0px #AFB80F, -10px 0px 0px #AFB80F;
  position: relative;
  width: 93%;
  margin-left: 50%;
  transform: translate(-50%);
  line-height: 2em;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-left: 0.5em;
  font-size: 1.5em;
}

.day-planner-desktop {
  position: relative;
  margin-left: 50%;
  transform: translate(-50%);
  display: table;
	height: auto;
	width: 90%;
}

.day-planner h4 {
  font-size: 1.5em;
}

.content {
  padding: 1.5em;
  padding-top: 0.5em;
  background-color: #fef2c9;
	height: 15em;
	text-align: left;
}

.cell {
  display: table-cell;
	height: 15em;
	padding: 10px;
	width:16.666%;
}

.day-planner-mobile {
  position: relative;
  margin-left: 50%;
  transform: translate(-50%);
  display: block;
	height: auto;
	width: 93%;
}

.content-mobile {
  padding: 1.5em;
  padding-top: 0.5em;
  background-color: #fef2c9;
	height: 15em;
	text-align: left;
}

.cell-mobile {
  display: table-cell;
	height: 15em;
	padding: 10px;
	width:16.666%;
}

.food-image {
  width: 100%;
  height: auto;
  position: relative;
  margin-left: 50%;
  transform: translate(-50%);
}

.lion-image {
  width: 100%;
  height: auto;
  position: relative;
  margin-left: 50%;
  transform: translate(-50%);
  /*padding-top: 20px;*/
}

.bird-image {
  width: 100%;
  height: auto;
  position: relative;
  margin-left: 50%;
  transform: translate(-50%);
}

.content p {
  text-align: justify;
  font-size: 1em;
  line-height: 1.5em;
}

.park-map-table-desktop {
  position: relative;
  width: 84%;
  margin-left: 50%;
  transform: translate(-50%);
  background-color: #fef2c9;
  padding: 1em;
  line-height: 1.5em;
}

.park-map-table-mobile {
  position: relative;
  width: 84%;
  margin-left: 50%;
  transform: translate(-50%);
  background-color: #fef2c9;
  padding: 1em;
  line-height: 1.5em;
}

.table-map {
  width: 75%;
}

.table-text {
  padding-left: 0em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  text-align: justify;
  vertical-align: top;
}

.find-us {
  position: relative;
  width: 85%;
  margin-left: 50%;
  transform: translate(-50%);
  background-color: #fef2c9;
  padding-top: 2em;
  padding-bottom: 1em;
  height: 35em;
}

.google-api {
  width: 93%;
  height: 97%;
}

.zoo-map {
  position: relative;
  width: auto;
  height: auto;
  max-width: 95%;
  padding-bottom: 0.25em;
  padding-top: 0.5em;
}

.zoo-logo {
  position: relative;
  float: left;
  padding-left: 2em;
  height: 10%;
  max-height: 100px;
  top:-4.2em;
  overflow: visible;
  z-index: 98;
}

.page-heading {
  position: relative;
  width: 85%;
  margin-left: 50%;
  transform: translate(-50%);
  background-color: #fef2c9;
  padding: 15px;
  font-size: 1.5em;
}

.title {
  transform: translate(0%);
}

a {
  text-decoration: none;
  color: inherit;
}

a:active {
  color: inherit;
}

.search-image {
  float: right;
  width: 12px;
  height: auto;
  padding-right: 3em;
  cursor: pointer;
}

.search-form {
  display: flex;
  float: right;
  padding-right: .3em;
  padding-bottom: -2em;
}

.search-box {
  border-radius: 50px;
  margin-top: -0.4em;
}

.follow-us {
  font-size: 1.3em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.twitter-logo {
  width: 15px;
  height: auto;
}

.twitter, .facebook {
  color: white;
  line-height: 1.3em;
}

.facebook-logo {
  width: 14px;
  height: auto;
}

@media (max-width: 70em) {
  .search-box {
    display: none;
  }
}

@media (max-width: 60em) {
  .main {
    flex: 1 0 auto;
  }
  .search-image {
    display: block;
    padding-top: 0.75em;
  }
  .day-planner-desktop {
    display: none;
  }
  .day-planner-mobile {
    display: block;
  }
  .find-us {
    padding-top: 2em;
    padding-bottom: 1em;
    height: 20em;
  }
  .park-map-table-desktop {
    display: none;
  }
  .park-map-table-mobile {
    display: table;
  }
  .nav-mobile {
    display: block;
  }
  .nav-desktop {
    display: none;
  }
  .search-box {
    display: flex;
    margin-top: 1em;
  }
}

@media (min-width: 60em) {
  .nav {
    display: block;
  }
  .wrapper {
    flex-direction: row;
  }
  .main {
    flex: 1 1 auto;
  }
  .aside {
    width: 20%;
  }
  .day-planner-desktop {
    display: table;
  }
  .day-planner-mobile {
    display: none;
  }
  .park-map-table-desktop {
    display: table;
  }
  .park-map-table-mobile {
    display: none;
  }
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    display: block;
  }
}
